/* all elements */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}


/* header navigation */
header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: rgb(66, 32, 160);
    border-bottom: 3px solid;
}

nav {
    width: 100%;
    height: 100%;
}

.nav-item {
    color: rgb(231, 230, 230);
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

.nav-item:hover {
    color: white;
    transition: .5s;
}

a#logo {
    font-size: 35px;
    line-height: 80px;
    padding-left: 100px;
    text-transform: none;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.checkbtn {
    font-size: 30px;
    color: rgb(231, 230, 230);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px){
    a#logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li {
        font-size: 16px;
    }
}

@media (max-width: 870px){
    .checkbtn{
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #979797;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .nav-item {
        font-size: 20px;
    }
    .nav-item:hover {
        color: #528cf8;
    }
    #logo:hover {
        color: white;
    }
    #check:checked ~ ul{
        left: 0;
    }
}


/* content area */
main {
    background-image: url("../pictures/background.png");
    min-height: calc(100% - 112px);
    border-bottom: black 3px solid;
}

#content-area {
    padding-bottom: 50px;
    width: 100%;
}


/* alerts */
.alertbox {
    width: 100%;
    height: 40px;
    position: absolute;
    text-align: center;
    
}

.alertmessage {
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

#alert-success {
    background-color: rgb(90, 223, 90);
}

#alert-error {
    background-color: rgb(241, 80, 59);
}


/* forms */
form input {
    padding-left: 10px;
}

.user-form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(66, 32, 160);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    position: relative;
    top: 60px;
}

.user-form form {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    padding-top: 25px;
}



.form-group input {
    width: 100%;
    height: 60px;
    font-size: large;
}

.form-group label {
    font-size: 20px;
}

.form-legend {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid rgb(109, 108, 108);
    padding-bottom: 5px;
    color: white;
}

#submit, #login, .add-words-button {
    width: 120px;
    color: #ffffff;
    font-size: large;
    font-weight: bold;
    background-color: rgb(83, 145, 21);
    border: black;
    border-radius: 3px;
    border-style: solid;
    height: 40px;
    cursor: pointer;
}

.add-words-button {
    height: 30px;
}

#submit:hover, #login:hover {
    font-size: larger;
}

.errorprint {
    color: red;
}

.form-group-right {
    float: right;
    line-height: 40px;
    color: white;
    font-weight: bold;
}

.form-group-right a {
    color: rgb(83, 145, 21);
    font-weight: bold;
    font-size: larger;
}

@media (max-width: 870px) {
    .user-form {
        width: 95%;
    }
}

#forgot-password {
    color: white;
    font-size: initial;
}

.form-check {
    padding-top: 20px;
}

.remember-me-label {
    color: white;
}


/* footer */
footer {
    background-color: rgb(66, 32, 160);
    color: rgb(231, 230, 230);
    height: 32px;
    text-align: right;
    width: 100%;
}

#copyright {
    margin-right: 80px;
    line-height: 30px;
}


/* vocabulary */
#vocabulary-form {
    width: 800px;
}

#vocabulary-form .form-group {
    display: inline-block;
    width: 300px;
    margin-right: 5px;
}

#vocabulary-form .form-group-btn, .add-words-button {
    width: 60px;
    display: inline-block;
    padding-right: 20px;
}

.vocabulary-section {
    margin-top: 20px;
}

.add-words-section {
    margin-left: 10px;
}

.vocabulary-section .form-group {
    padding-top: 0px;
}

.vocab-text {
    color: white;
}

.form-group .word-input {
    height: 40px;
}


.table-data {
    background-color: rgb(184, 184, 184);
    width: 300px;
    height: 40px;
    padding-left: 18px;
    border-radius: 5px;
    border: solid black 2px;
}

.vocabulary-table table {
    border-collapse:separate;
    border-spacing: 10px 10px;
    max-height: 800px;
}

.form-group-btn {
    margin-left: 5px;
}

.vocabulary-table {
    display: inline-block;
    overflow-y: scroll;
    max-height:500px;
    margin-bottom: 10px;
    border-bottom: solid black 2px;
    border-top: solid black 2px;
}

.table-header {
    color: white;
    font-size: larger;
    font-weight: bold;
    padding-bottom: 10px;
}

.table-header span {
    display: inline-block;
}

#native-header-vocabulary {
    margin-left: 15px;
}

#foreign-header-vocabulary {
    margin-left: 245px;
}

.delete-btn {
   background-color: red;
   color: white;
   font-weight: bold;
   font-size: large;
   border: black 3px solid;
   border-radius: 3px;
   width: 60px;
   display: inline-block;
   padding-right: 15px;
   height: 30px;
   cursor: pointer;
}

/* practice page */
#practice-container {
    width: 702px;
}

.words-area {
    margin: 0px 30px;
}

.words-area legend {
    margin-bottom: 20px;
}

.word-container {
    background-color: #979797;
    width: 300px;
    height: 200px;
    display: inline-block;
    text-align: center;
    border: black 3px solid;
    border-radius: 15px;
    position: relative;
}

.word-container span {
    position: absolute;
    top: 40%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: 0 0 0 -25%;
    font-size: larger;
    font-weight: bold;
    max-width: 50%;
    word-wrap:break-word;
}

#word-container-native {
    margin-right: 30px;
}

#foreign-header-practice {
    margin-left: 270px;
}

