<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/main.css" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    {% if title %}
        <title>LangTrainer - {{ title }}</title>
    {% else %}
        <title>LangTrainer</title>
    {% endif %}
</head>
<body>
    <header>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo-label"><a href="{{ url_for('practice') }}" class="nav-item" id="logo">LangTrainer</a></label>
            <ul>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('practice') }}" class="nav-item">Practice</a></li>
                    <li><a href="{{ url_for('vocabulary') }}" class="nav-item">Vocabulary</a></li>
                    <li><a href="{{ url_for('account') }}" class="nav-item">Account</a></li>
                    <li><a href="{{ url_for('logout') }}" class="nav-item">LogOut</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}" class="nav-item">Login</a></li>
                    <li><a href="{{ url_for('register') }}" class="nav-item">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alertbox" id="alert-{{ category }}">
                        <span class="alertmessage">{{ message }}</span>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
        <span id="copyright">LangTrainger &copy; Copyright 2020</span>
    </footer>
</body>
</html>