{% extends "layout.html" %}
{% block content %}
    <div class="user-form">
        <form method="POST" action="" novalidate>
            {{ form.hidden_tag() }}
            <legend class="form-legend">Login</legend>
            <div class="form-group">
                {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    {% for error in form.email.errors %}
                        <span class="errorprint">{{ error }}</span>
                    {% endfor %}
                    {% else %}
                    {{ form.email(class="form-control", placeholder="   Email") }}
                {% endif %}
            </div>
            <div class="form-group">
                {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid") }}
                    {% for error in form.password.errors %}
                        <span class="errorprint">{{ error }}</span>
                    {% endfor %}
                    {% else %}
                    {{ form.password(class="form-control", placeholder="   Password") }}
                {% endif %}
            </div>
            <div class="form-check">
                {{ form.remember_me(class="form-check-input") }}
                {{ form.remember_me.label(class="form-check-label remember-me-label") }}
            </div>
            <div class="form-group">
                {{ form.login(class="btn") }}
                <span class="form-group-right"><a id="forgot-password" href="#">Forgot Password?</a></span>
            </div>
        </form>
    </div>
{% endblock content %}